<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Vue From Scratch</title>
        <style>
            .box {
                background-color: purple;
                height: 200px;
                width: 200px;
            }
            .box.two {
                background-color: red;
            }
            .box.three {
                background-color: blue;
            }
            [v-cloak] {
                display: none;
            }
            input {
                margin: 10px;
                display: block;
            }
        </style>
    </head>
    <body>
        <div id="app" v-cloak>
            <login-form />

            <hr />
            <button v-on:click="toggleBox">Toggle Box</button>
            <!-- <button @click="isVisible = !isVisible">Toggle Box</button> -->
            <div v-if="isVisible" class="box"></div>
            <!-- style get none, all time we use v-if -->
            <!-- c-show used if we wanted toggling something -->
            <!-- <div v-show="isVisible" class="box"></div> -->

            <!-- <div v-else-if="isVisible2" class="box two"></div>
            <div v-else class="box three"></div> -->
        </div>

        <script src="https://unpkg.com/vue@next"></script>
        <script>
            let app = Vue.createApp({
                data: function () {
                    return {
                        greeting: 'Hello Vue 3!',
                        isVisible: false
                        // isVisible2: true
                    };
                },
                methods: {
                    toggleBox() {
                        this.isVisible = !this.isVisible;
                    },
                    greet(greeting) {
                        console.log(greeting);
                    }
                }
            });
            app.component('login-form', {
                template: `
                    <form @submit.prevent="handleSubmit">
                        <h1>{{ title }}</h1>
                        <!-- <p v-for="(str, i) in inputs" v-bind:key="i">{{ str }}</p> -->
                        <custom-input 
                            v-for="(input, i) in inputs"
                            v-bind:key="i" 
                            v-model="input.value" 
                            v-bind:type="input.type" 
                            v-bind:label="input.label" 

                        />
                        <!-- <custom-input type="password" v-model="password" v-bind:label="passwordLabel" /> -->
                        <button type="submit">Log in</button>
                    </form>
                `,
                components: ['custom-input'],
                data() {
                    return {
                        title: 'Login Form',
                        // inputs: ['email', 'password', 'name'],
                        inputs: [
                            {
                                label: 'Email',
                                value: '',
                                type: 'email'
                            },
                            {
                                label: 'Password',
                                value: '',
                                type: 'password'
                            }
                        ],
                        // email: '',
                        // password: '',
                        emailLabel: 'Email',
                        passwordLabel: 'Password'
                    };
                },
                methods: {
                    handleSubmit() {
                        console.log(this.inputs[0].value, this.inputs[1].value);
                    }
                }
            });
            app.component('custom-input', {
                template: `
                    <label>
                        {{ label }}
                        <input v-bind:type="type" v-model="inputValue"/>
                    </label>
                `,
                props: ['label', 'type', 'modelValue'],
                computed: {
                    inputValue: {
                        get() {
                            return this.modelValue;
                        },
                        set(value) {
                            // console.log(value);
                            this.$emit('update:modelValue', value);
                        }
                    }
                }
                // data() {
                //     return {
                //         inputValue: ''
                //     };
                // }
            });
            app.mount('#app');
        </script>
    </body>
</html>
